<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/trainers-config" class="btn btn-primary"> Ir a Pantalla de Configuración</a>
        </div>
        <div class="col-6">
            <a href="/results" class="btn btn-primary"> Ir a Pantalla de Resultados</a>
        </div>
    </div>
    
</div>