<div class="container">
    <div class="row ">
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center my-5">
                    <img src="https://res.cloudinary.com/difhe4gl3/image/upload/v1609543808/logo-dudyfit-3.0_r9cwdu.png" alt="DudyFit Logo" class="image-fluid w-25">
                </div>
                <div class="col-12 text-center">
                    <img src="https://res.cloudinary.com/difhe4gl3/image/upload/v1609618190/Recurso_1_o1vmb2.svg" alt="Online Personal Trainer Illustration DudyFit" class="image-fluid w-50">
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center my-5">
            <a href="/trainers-config" class="btn btn-primary mx-3"> Ir a Pantalla de Configuración</a>
            <a href="/trainers-result" class="btn btn-primary mx-3"> Ir a Pantalla de Resultados</a>
        </div>
    </div>
</div>