.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: thin;
    width: auto;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.input-size {
    width: 200px !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: black;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

code, pre {
    background-color: #ddd;
}